/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */
 
@font-face {
    font-family: 'proxima_novaregular';
    src: url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.eot');
    src: url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.woff2') format('woff2'),
         url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.woff') format('woff'),
         url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.ttf') format('truetype'),
         url('https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/proximanova_regular_macroman/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  background: #fff;
  background-color: #fff;
}

html:-webkit-full-screen-ancestor {
  background: #fff;
  background-color: #fff;
}

html:-moz-full-screen-ancestor {
  background: #fff;
  background-color: #fff;
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: black;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

.reveal a {
    color: #e7ad52;
}

.reveal a:hover {
    color: #f3d7ac;
}

.hljs {
  background : none;
}

.white {
  color: white;
}

#gp-logo img {
  max-height: 3em;
  max-width: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1em;
  margin-bottom: 1ex;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }
 
.controls-arrow {
  visibility: hidden;
}
 
.gp-menu .slide-menu-button {
  bottom: 0 !important;
  margin-bottom: 1ex;
}

#title-footer #notification {
  visibility: hidden;
}

#title-footer {
  background: rgba(255,255,255,0);
}

.reveal[data-background-transition=slide] > .backgrounds .slide-background, .reveal > .backgrounds .slide-background[data-background-transition=slide] {
  background-image: url("https://bitbucket.org/hkq/git-pitch-hello-world/raw/master/assets/boid.png");
  background-position: bottom left;
  background-size: auto 15%; 
}

.reveal * {
  font-family: 'proxima_novaregular', 'Source Sans Pro', Helvetica, sans-serif !important;
  color: #2C3F6B !important
}

.fa {
 font-family: FontAwesome !important;
}

